@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: white;
  font-family: 'Orbit', sans-serif;
  background: rgb(40, 40, 40);
}
